* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-Light.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

.slider {
  width: 100vw;
  height: 40em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}

.slider .imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.slider .img {
  min-width: 100vw;
}

.slider .img img {
  width: 100%;
  min-height: 100%;
}

.slider .arrow {
  position: absolute;
  top: calc(50% - 2em);
  width: 4em;
  height: 4em;
  background-color: rgba(53, 53, 53, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.slider .arrow.none {
  display: none;
}

.slider .arrow i {
  color: #fff;
  font-size: 2.5em;
}

.slider .arrow.prev {
  left: 1em;
}

.slider .arrow.next {
  right: 1em;
}

@media all and (max-width: 1360px) {
  html {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=style.css.map */